{% extends 'layout.html' %}

{% block content %}
<div class="inner">
    <header>
        <h1>사진의 수많은 얼굴 중 원하는 사람을 찾아드립니다.</h1>
        <p>동호회, 수련회, 단체 활동 후 수많은 사진 속 나온 나와 친구들을 일일이 찾아서 다운로드하지 않아도 됩니다.
        <br/>Finder가 업로드 된 사진들 중 등록된 얼굴을 찾아드립니다.</p>
    </header>
    <section class="tiles">
        <article class="style1">
            <span class="image">
                <img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
            </span>
            <a href="{{ url_for('mypic') }}">
                <h2>내 사진 등록</h2>
                <div class="content">
                    <p>혼자 나온 사진을 등록해주세요.</p>
                </div>
            </a>
        </article>
        <article class="style2">
            <span class="image">
                <img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" />
            </span>
            <a href="{{ url_for('picupload') }}">
                <h2>단체사진 업로드</h2>
                <div class="content">
                    <p>동호회, 수련회, 단체활동에서 찍은 사진을 업로드 해주세요.</p>
                </div>
            </a>
        </article>
        <article class="style3">
            <span class="image">
                <img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" />
            </span>
            <a href="{{ url_for('show_pictures') }}">
                <h2>내가 등록한 사진 확인/다운로드</h2>
                <div class="content">
                    <p>내가 등록된 사진 분류를 확인하고 다운받으세요.</p>
                </div>
            </a>
        </article>
                <article class="style4">
            <span class="image">
                <img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
            </span>
            <a href="{{ url_for('publicupload') }}">
                <h2>공개 사진 등록</h2>
                <div class="content">
                    <p>공개적으로 올릴 사진을 등록해주세요.</p>
                </div>
            </a>
        </article>
                <article class="style5">
            <span class="image">
                <img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" />
            </span>
            <a href="{{ url_for('public_show') }}">
                <h2>공개 등록 사진 중 내 사진 확인</h2>
                <div class="content">
                    <p>공개적으로 등록된 사진 중 내 얼굴이 나온 사진을 확인하세요.</p>
                </div>
            </a>
        </article>
    </section>
</div>
{% endblock %}